
 <html>
{% load static %}

<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
        
        <!-- title of site -->
        <title>Browny</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'assets/logo/favicon.png' %}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

		<!--flat icon css-->
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}" >
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
		
		<!-- top-area Start -->
		<header class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
			    <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

			        <div class="container">

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand" href="index.html">browny</a>
			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
<!--			                <li class=" smooth-menu active"></li>-->
			                    <li class=" smooth-menu"><a href="#education">education</a></li>
			                    <li class="smooth-menu"><a href="#skills">skills</a></li>
			                    <li class="smooth-menu"><a href="#experience">experience</a></li>
			                    <li class="smooth-menu"><a href="#profiles">profile</a></li>

			                    <li class="smooth-menu"><a href="#portfolio">portfolio</a></li>
			                    <li class="smooth-menu"><a href="#certification">certification</a></li>

								<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         create
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/eduacationaldetails">education</a>
		  <a class="dropdown-item" href="/createcertification">certification</a></br>
		  <a class="dropdown-item" href="/createskill">skill</a></br>
			<a class="dropdown-item" href="/createexp">experience</a>


        </div>
      </li>
			                    <li class="smooth-menu"><a href="#contact">contact</a></li>
								<li ><a href="/logout">logout</a></li>
			                </ul><!--/.nav -->
			            </div><!-- /.navbar-collapse -->
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->

		    <div class="clearfix"></div>

		</header><!-- /.top-area-->
		<!-- top-area End -->
	
		<!--welcome-hero start -->
		<section id="welcome-hero" class="welcome-hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="header-text">
							<h2>hi <span>,</span> i am <br> browny <br> star <span>.</span>   </h2>
							<p>{{ ex.job }}</p>
<!--							<a href="{% static 'assets/download/browney.txt' %}" download>download resume</a>-->
<!--							<img src="{% static 'assets/images/about/welcome-banner.jpg' %}" alt="profile_image">-->
								<img src="{{ detail.image.url }}">
						</div><!--/.header-text-->
					</div><!--/.col-->
				</div><!-- /.row-->
			</div><!-- /.container-->

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--about start -->
		<section id="about" class="about">
			<div class="section-heading text-center">
				<h2>about me</h2>
			</div>
			<div class="container">
				<div class="about-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="single-about-txt">
								<h3>
									I am a Professional UI/UX Designer and Web developer. Consectetur an adipisi elita, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
								</h3>
								<p>
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspi unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam vo luptatem quia voluptas sit aspernatur aut odit aut fugit,
								</p>
								<div class="row">
									<div class="col-sm-4">
										<div class="single-about-add-info">
											<h3>phone</h3>
											<p>{{ detail.phonenumber }}</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="single-about-add-info">
											<h3>email</h3>
											<p>{{ mail.email }}</p>
<!--											<p>browny@info.com</p>-->
										</div>
									</div>
									<div class="col-sm-4">
										<div class="single-about-add-info">
											<h3>website</h3>
											<p>{{ detail.urlfield }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-offset-1 col-sm-5">
							<div class="single-about-img">
<!--								<img src="{% static 'assets/images/about/profile_image.jpg' %}" alt="profile_image">-->
								<img src="{{ detail.image.url }}">
								<div class="about-list-icon">
									<ul>
										<li>
											<a href="#">
												<i  class="fa fa-facebook" aria-hidden="true"></i>
											</a>
										</li><!-- / li -->
										<li>
											<a href="#">
												<i  class="fa fa-dribbble" aria-hidden="true"></i>
											</a>
											
										</li><!-- / li -->
										<li>
											<a href="#">
												<i  class="fa fa-twitter" aria-hidden="true"></i>
											</a>
											
										</li><!-- / li -->
										<li>
											<a href="#">
												<i  class="fa fa-linkedin" aria-hidden="true"></i>
											</a>
										</li><!-- / li -->
										<li>
											<a href="#">
												<i  class="fa fa-instagram" aria-hidden="true"></i>
											</a>
										</li><!-- / li -->
										
										
									</ul><!-- / ul -->
								</div><!-- /.about-list-icon -->

							</div>

						</div>
					</div>
				</div>
			</div>
		</section><!--/.about-->
		<!--about end -->
		
		<!--education start -->
		<section id="education" class="education">
			<div class="section-heading text-center">
				<h2>education</h2>
			</div>

			<div class="container">
				<div class="education-horizontal-timeline">
					<div class="row">
 						{% for data in edu %}
						<div class="col-sm-4">
							<div class="single-horizontal-timeline">
								<div class="experience-time">
									<h2>{{data.yoj}} - {{data.yop}}</h2>
									<h3>{{data.qualification}}</h3>
								</div><!--/.experience-time-->
								<div class="timeline-horizontal-border">
									<i class="fa fa-circle" aria-hidden="true"></i>
									<span class="single-timeline-horizontal"></span>
								</div>
								<div class="timeline">
									<div class="timeline-content">
										<h4 class="title">
<!--											university of north carolina-->
											{{ data.university }}
										</h4>
										<h5>{{ data.institution }}</h5>
										<p class="description">
											{{data.desc}}
<!--											Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. -->
										</p>
									</div><!--/.timeline-content-->
								</div><!--/.timeline-->
							</div>
						</div>
						{% endfor %}
<!--						<div class="col-sm-4">-->
<!--							<div class="single-horizontal-timeline">-->
<!--								<div class="experience-time">-->
<!--									<h2>2004 - 2008</h2>-->
<!--									<h3>bachelor <span>of </span> computer science</h3>-->
<!--								</div>&lt;!&ndash;/.experience-time&ndash;&gt;-->
<!--								<div class="timeline-horizontal-border">-->
<!--									<i class="fa fa-circle" aria-hidden="true"></i>-->
<!--									<span class="single-timeline-horizontal"></span>-->
<!--								</div>-->
<!--								<div class="timeline">-->
<!--									<div class="timeline-content">-->
<!--										<h4 class="title">-->
<!--											university of north carolina-->
<!--										</h4>-->
<!--										<h5>north carolina, USA</h5>-->
<!--										<p class="description">-->
<!--											Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. -->
<!--										</p>-->
<!--									</div>&lt;!&ndash;/.timeline-content&ndash;&gt;-->
<!--								</div>&lt;!&ndash;/.timeline&ndash;&gt;-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-sm-4">-->
<!--							<div class="single-horizontal-timeline">-->
<!--								<div class="experience-time">-->
<!--									<h2>2004 - 2008</h2>-->
<!--									<h3>bachelor <span>of </span> creative design</h3>-->
<!--								</div>&lt;!&ndash;/.experience-time&ndash;&gt;-->
<!--								<div class="timeline-horizontal-border">-->
<!--									<i class="fa fa-circle" aria-hidden="true"></i>-->
<!--									<span class="single-timeline-horizontal spacial-horizontal-line-->
<!--									"></span>-->
<!--								</div>-->
<!--								<div class="timeline">-->
<!--									<div class="timeline-content">-->
<!--										<h4 class="title">-->
<!--											university of bolton-->
<!--										</h4>-->
<!--										<h5>bolton, united kingdome</h5>-->
<!--										<p class="description">-->
<!--											Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. -->
<!--										</p>-->
<!--									</div>&lt;!&ndash;/.timeline-content&ndash;&gt;-->
<!--								</div>&lt;!&ndash;/.timeline&ndash;&gt;-->
<!--							</div>-->
<!--						</div>-->
					</div>
				</div>
			</div>

		</section><!--/.education-->
		<!--education end -->

		<!--skills start -->
		<section id="skills" class="skills">
				<div class="skill-content">
					<div class="section-heading text-center">
						<h2>skills</h2>
					</div>
					{% for data in sk %}
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="single-skill-content">
									<div class="barWrapper">
										<span class="progressText">{{data.skill1}}</span>
										<div class="single-progress-txt">
											<div class="progress ">
												<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
													  
												</div>
											</div>
											<h3>90%</h3>	
										</div>
									</div><!-- /.barWrapper -->
									<div class="barWrapper">
										<span class="progressText">{{data.skill2}}</span>
										<div class="single-progress-txt">
											<div class="progress ">
											   <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
												    
											   </div>
											</div>
											<h3>85%</h3>	
										</div>
									</div><!-- /.barWrapper -->
									<div class="barWrapper">
										<span class="progressText">{{data.skill3}}</span>
										<div class="single-progress-txt">
											<div class="progress ">
											   <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
												   
											   </div>
											</div>
											<h3>97%</h3>	
										</div>
									</div><!-- /.barWrapper -->
									{% endfor %}
<!--									<div class="barWrapper">-->
<!--										<span class="progressText">sketch</span>-->
<!--										<div class="single-progress-txt">-->
<!--											<div class="progress ">-->
<!--											   <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">-->
<!--												    -->
<!--											   </div>-->
<!--											</div>-->
<!--											<h3>90%</h3>	-->
<!--										</div>-->
<!--									</div>&lt;!&ndash; /.barWrapper &ndash;&gt;-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-md-6">-->
<!--								<div class="single-skill-content">-->
<!--									<div class="barWrapper">-->
<!--										<span class="progressText">html 5</span>-->
<!--										<div class="single-progress-txt">-->
<!--											<div class="progress ">-->
<!--												<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">-->
<!--													-->
<!--												</div>-->
<!--											</div>-->
<!--											<h3>90%</h3>	-->
<!--										</div>-->
<!--									</div>&lt;!&ndash; /.barWrapper &ndash;&gt;-->
<!--									<div class="barWrapper">-->
<!--										<span class="progressText">css 3 animation</span>-->
<!--										<div class="single-progress-txt">-->
<!--											<div class="progress ">-->
<!--											   <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">-->
<!--												    -->
<!--											   </div>-->
<!--											</div>-->
<!--											<h3>85%</h3>	-->
<!--										</div>-->
<!--									</div>&lt;!&ndash; /.barWrapper &ndash;&gt;-->
<!--									<div class="barWrapper">-->
<!--										<span class="progressText">communication</span>-->
<!--										<div class="single-progress-txt">-->
<!--											<div class="progress ">-->
<!--											   <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">-->
<!--												   -->
<!--											   </div>-->
<!--											</div>-->
<!--											<h3>97%</h3>	-->
<!--										</div>-->
<!--									</div>&lt;!&ndash; /.barWrapper &ndash;&gt;-->
<!--									<div class="barWrapper">-->
<!--										<span class="progressText"> creativity</span>-->
<!--										<div class="single-progress-txt">-->
<!--											<div class="progress ">-->
<!--											   <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">-->
<!--												    -->
<!--											   </div>-->
<!--											</div>-->
<!--											<h3>90%</h3>	-->
<!--										</div>-->
<!--									</div>&lt;!&ndash; /.barWrapper &ndash;&gt;-->
								</div>
							</div>
						</div><!-- /.row -->
					</div>	<!-- /.container -->		
				</div><!-- /.skill-content-->

		</section><!--/.skills-->
		<!--skills end -->

		<!--experience start -->
		<section id="experience" class="experience">
			<div class="section-heading text-center">
				<h2>experience</h2>
			</div>
			<div class="container">
				<div class="experience-content">
						<div class="main-timeline">
							<ul>
								<li>
									<div class="single-timeline-box fix">
										<div class="row">
											{% for data in ex %}
											<div class="col-md-5">
												<div class="experience-time text-right">
													<h2>{{data.year}}</h2>
													<h3>{{data.job}}</h3>
												</div><!--/.experience-time-->
											</div><!--/.col-->
											<div class="col-md-offset-1 col-md-5">
												<div class="timeline">
													<div class="timeline-content">
														<h4 class="title">
															<span><i class="fa fa-circle" aria-hidden="true"></i></span>
															{{ data.company }}
														</h4>
														<h5>{{ data.country }}, {{ data.state }}</h5>
														<p class="description">
															Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
														</p>
													</div><!--/.timeline-content-->
												</div><!--/.timeline-->
											</div><!--/.col-->
											{% endfor %}
										</div>
									</div><!--/.single-timeline-box-->
								</li>

								<li>
<!--									<div class="single-timeline-box fix">-->
<!--										<div class="row">-->
<!--											<div class="col-md-offset-1 col-md-5 experience-time-responsive">-->
<!--												<div class="experience-time">-->
<!--													<h2>-->
<!--														<span><i class="fa fa-circle" aria-hidden="true"></i></span>-->
<!--														2016 - 2018-->
<!--													</h2>-->
<!--													<h3>associate design director</h3>-->
<!--												</div>&lt;!&ndash;/.experience-time&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--											<div class="col-md-5">-->
<!--												<div class="timeline">-->
<!--													<div class="timeline-content text-right">-->
<!--														<h4 class="title">-->
<!--															hoplony tech limited-->
<!--														</h4>-->
<!--														<h5>newyork, USA</h5>-->
<!--														<p class="description">-->
<!--															Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. -->
<!--														</p>-->
<!--													</div>&lt;!&ndash;/.timeline-content&ndash;&gt;-->
<!--												</div>&lt;!&ndash;/.timeline&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--											<div class="col-md-offset-1 col-md-5 experience-time-main">-->
<!--												<div class="experience-time">-->
<!--													<h2>-->
<!--														<span><i class="fa fa-circle" aria-hidden="true"></i></span>-->
<!--														2016 - 2018-->
<!--													</h2>-->
<!--													<h3>associate design director</h3>-->
<!--												</div>&lt;!&ndash;/.experience-time&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--										</div>-->
<!--									</div>&lt;!&ndash;/.single-timeline-box&ndash;&gt;-->
<!--								</li>-->

<!--								<li>-->
<!--									<div class="single-timeline-box fix">-->
<!--										<div class="row">-->
<!--											<div class="col-md-5">-->
<!--												<div class="experience-time text-right">-->
<!--													<h2>2013 - 2016</h2>-->
<!--													<h3>senior UI/UX designer</h3>-->
<!--												</div>&lt;!&ndash;/.experience-time&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--											<div class="col-md-offset-1 col-md-5">-->
<!--												<div class="timeline">-->
<!--													<div class="timeline-content">-->
<!--														<h4 class="title">-->
<!--															<span><i class="fa fa-circle" aria-hidden="true"></i></span>-->
<!--															hoplony tech limited-->
<!--														</h4>-->
<!--														<h5>newyork, USA</h5>-->
<!--														<p class="description">-->
<!--															Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. -->
<!--														</p>-->
<!--													</div>&lt;!&ndash;/.timeline-content&ndash;&gt;-->
<!--												</div>&lt;!&ndash;/.timeline&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--										</div>-->
<!--									</div>&lt;!&ndash;/.single-timeline-box&ndash;&gt;-->
<!--								</li>-->

<!--								<li>-->
<!--									<div class="single-timeline-box fix">-->
<!--										<div class="row">-->
<!--											<div class="col-md-offset-1 col-md-5 experience-time-responsive">-->
<!--												<div class="experience-time">-->
<!--													<h2>-->
<!--														<span><i class="fa fa-circle" aria-hidden="true"></i></span>-->
<!--														2012 - 2013-->
<!--													</h2>-->
<!--													<h3>UI/UX designer</h3>-->
<!--												</div>&lt;!&ndash;/.experience-time&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--											<div class="col-md-5">-->
<!--												<div class="timeline">-->
<!--													<div class="timeline-content text-right">-->
<!--														<h4 class="title">-->
<!--															hoplony tech limited-->
<!--														</h4>-->
<!--														<h5>newyork, USA</h5>-->
<!--														<p class="description">-->
<!--															Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. -->
<!--														</p>-->
<!--													</div>&lt;!&ndash;/.timeline-content&ndash;&gt;-->
<!--												</div>&lt;!&ndash;/.timeline&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--											<div class="col-md-offset-1 col-md-5 experience-time-main">-->
<!--												<div class="experience-time">-->
<!--													<h2>-->
<!--														<span><i class="fa fa-circle" aria-hidden="true"></i></span>-->
<!--														2012 - 2013-->
<!--													</h2>-->
<!--													<h3>UI/UX designer</h3>-->
<!--												</div>&lt;!&ndash;/.experience-time&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--										</div>-->
<!--									</div>&lt;!&ndash;/.single-timeline-box&ndash;&gt;-->
<!--								</li>-->

<!--								<li>-->
<!--									<div class="single-timeline-box fix">-->
<!--										<div class="row">-->
<!--											<div class="col-md-5">-->
<!--												<div class="experience-time text-right">-->
<!--													<h2>2010 - 2012</h2>-->
<!--													<h3>frontend developer</h3>-->
<!--												</div>&lt;!&ndash;/.experience-time&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--											<div class="col-md-offset-1 col-md-5">-->
<!--												<div class="timeline">-->
<!--													<div class="timeline-content">-->
<!--														<h4 class="title">-->
<!--															<span><i class="fa fa-circle" aria-hidden="true"></i></span>-->
<!--															hoplony tech limited-->
<!--														</h4>-->
<!--														<h5>newyork, USA</h5>-->
<!--														<p class="description">-->
<!--															Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. -->
<!--														</p>-->
<!--													</div>&lt;!&ndash;/.timeline-content&ndash;&gt;-->
<!--												</div>&lt;!&ndash;/.timeline&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--										</div>-->
<!--									</div>&lt;!&ndash;/.single-timeline-box&ndash;&gt;-->
<!--								</li>-->

							</ul>
						</div><!--.main-timeline-->
					</div><!--.experience-content-->
			</div>

		</section><!--/.experience-->
		<!--experience end -->

		<!--profiles start -->
		<section id="profiles" class="profiles">

			<div class="profiles-details">

				<div class="section-heading text-center">
					<h2>profiles</h2>
				</div>
				<div class="container-fluid">
					<table class="table">
  <thead>
    <tr>
		<th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">PhoneNumber</th>
      <th scope="col">Address</th>
      <th scope="col">Height</th>
		<th scope="col">Weight</th>
        <th scope="col">Photo</th>
		<th scope="col">Email</th>
		<th scope="col">skill1</th>
		<th scope="col">skill2</th>
		<th scope="col">skill3</th>
    </tr>
  </thead>
						<tbody>
						{% for data in sk %}
						<tr>
				<td>{{ detail.name }}</td>
											<td>{{ detail.age }}</td>
											<td>{{ detail.phone }}</td>
							<td>{{ detail.address }}</td>
										<td>	{{ detail.height }}</td>
										<td>	{{ detail.weight }}</td>
							<td>	<img src="{{ detail.image.url }}"></td>
										<td>	{{ mail.email }}</td>


											<td>{{ data.skill1 }}</td>
											<td>{{ data.skill2 }}</td>
											<td>{{ data.skill3 }}</td>
							</tr>

						{% endfor %}</tbody></table>
</div>

<!--				<div class="container">-->
<!--					<div class="profiles-content">-->
<!--						<div class="row">-->
<!--							<div class="col-sm-3">-->
<!--								<div class="single-profile">-->
<!--									<div class="profile-txt">-->
<!--										<a href=""><i class="flaticon-themeforest"></i></a>-->
<!--										<div class="profile-icon-name">themeforest</div>-->
<!--									</div>-->
<!--									<div class="single-profile-overlay">-->
<!--										<div class="profile-txt">-->
<!--											<a href=""><i class="flaticon-themeforest"></i></a>-->
<!--											<div class="profile-icon-name">themeforest</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-sm-3">-->
<!--								<div class="single-profile">-->
<!--									<div class="profile-txt">-->
<!--										<a href=""><i class="flaticon-dribbble"></i></a>-->
<!--										<div class="profile-icon-name">dribbble</div>-->
<!--									</div>-->
<!--									<div class="single-profile-overlay">-->
<!--										<div class="profile-txt">-->
<!--											<a href=""><i class="flaticon-dribbble"></i></a>-->
<!--											<div class="profile-icon-name">dribbble</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-sm-3">-->
<!--								<div class="single-profile">-->
<!--									<div class="profile-txt">-->
<!--										<a href=""><i class="flaticon-behance-logo"></i></a>-->
<!--										<div class="profile-icon-name">behance</div>-->
<!--									</div>-->
<!--									<div class="single-profile-overlay">-->
<!--										<div class="profile-txt">-->
<!--											<a href=""><i class="flaticon-behance-logo"></i></a>-->
<!--											<div class="profile-icon-name">behance</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-sm-3">-->
<!--								<div class="single-profile profile-no-border">-->
<!--									<div class="profile-txt">-->
<!--										<a href=""><i class="flaticon-github-logo"></i></a>-->
<!--										<div class="profile-icon-name">github</div>-->
<!--									</div>-->
<!--									<div class="single-profile-overlay">-->
<!--										<div class="profile-txt">-->
<!--											<a href=""><i class="flaticon-github-logo"></i></a>-->
<!--											<div class="profile-icon-name">github</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="profile-border"></div>-->
<!--						<div class="row">-->
<!--							<div class="col-sm-3">-->
<!--								<div class="single-profile">-->
<!--									<div class="profile-txt">-->
<!--										<a href=""><i class="flaticon-flickr-website-logo-silhouette"></i></a>-->
<!--										<div class="profile-icon-name">flickR</div>-->
<!--									</div>-->
<!--									<div class="single-profile-overlay">-->
<!--										<div class="profile-txt">-->
<!--											<a href=""><i class="flaticon-flickr-website-logo-silhouette"></i></a>-->
<!--											<div class="profile-icon-name">flickR</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-sm-3">-->
<!--								<div class="single-profile">-->
<!--									<div class="profile-txt">-->
<!--										<a href=""><i class="flaticon-smug"></i></a>-->
<!--										<div class="profile-icon-name">smungMung</div>-->
<!--									</div>-->
<!--									<div class="single-profile-overlay">-->
<!--										<div class="profile-txt">-->
<!--											<a href=""><i class="flaticon-smug"></i></a>-->
<!--											<div class="profile-icon-name">smungMung</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-sm-3">-->
<!--								<div class="single-profile">-->
<!--									<div class="profile-txt">-->
<!--										<a href=""><i class="flaticon-squarespace-logo"></i></a>-->
<!--										<div class="profile-icon-name">squareSpace</div>-->
<!--									</div>-->
<!--									<div class="single-profile-overlay">-->
<!--										<div class="profile-txt">-->
<!--											<a href=""><i class="flaticon-squarespace-logo"></i></a>-->
<!--											<div class="profile-icon-name">squareSpace</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-sm-3">-->
<!--								<div class="single-profile profile-no-border">-->
<!--									<div class="profile-txt">-->
<!--										<a href=""><i class="flaticon-bitbucket-logotype-camera-lens-in-perspective"></i></a>-->
<!--										<div class="profile-icon-name">bitBucket</div>-->
<!--									</div>-->
<!--									<div class="single-profile-overlay">-->
<!--										<div class="profile-txt">-->
<!--											<a href=""><i class="flaticon-bitbucket-logotype-camera-lens-in-perspective"></i></a>-->
<!--											<div class="profile-icon-name">bitBucket</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
			</div>
{% block content %}
				{% endblock %}

		</section><!--/.profiles-->
		<!--profiles end -->

		<!--portfolio start -->
		<section id="portfolio" class="portfolio">
			<div class="portfolio-details">
				<div class="section-heading text-center">
					<h2>portfolio</h2>
					<table class="table">
  <thead>
    <tr>
      <th scope="col">qualification</th>
      <th scope="col">year of join</th>
      <th scope="col">year of passout</th>
      <th scope="col">mark</th>
		<th scope="col">description</th>
        <th scope="col">projectname</th>
    </tr>
  </thead>
  <tbody>{% for dt in edu %}

    <tr>

      <td>{{ dt.qualification }}</td>
      <td>{{ dt.yoj }}</td>
      <td>{{ dt.yop }}</td>
		<td>{{ dt.mark }}</td>
		<td>{{ dt.desc }}</td>
		{% endfor %}
		<td>{% for dt1 in proj %}
			{{ dt1.projectname }}
		{% endfor %}</td>

		</tr>





  </tbody>
</table>
				</div>
					<div class="container d-flex mt-4 p-4"style="padding-left:2px;"	>
						<div class="row g-0" style="padding-left:2px;">
<!--				<div class="container-fluid">-->
<!--					<div class="portfolio-content">-->
<!--						<div class="isotope">-->
<!--							<div class="row">-->

							<div class="section-heading text-center">
								<h2>project</h2></div>
									{% for dt in proj %}
								<div class="col-md-4">

									<div class="card" style="width: 18rem;">
 										 <img src="{{ dt.projectimage.url }}" class="card-img-top" alt="...">
										  <div class="card-body">

    											<h5 class="card-title">{{ dt.projectname }}</h5>
    											<p class="card-text">{{ dt.projectdescription }}</p>
											  <p class="card-text">{{ dt.language }}</p>
<!--    											<a href="#" class="btn btn-primary">Go somewhere</a>-->
										  </div>
									</div>
								</div>{% endfor %}
						</div>
					</div>
<!--									<div class="item">-->
<!--										<img src="{% static 'assets/images/portfolio/p1.jpg' %}" alt="portfolio image"/>-->
<!--										<div class="isotope-overlay">-->
<!--											<a href="#">-->
<!--												ui/ux design-->
<!--											</a>-->
<!--										</div>&lt;!&ndash; /.isotope-overlay &ndash;&gt;-->
<!--									</div>&lt;!&ndash; /.item &ndash;&gt;-->
<!--									<div class="item">-->
<!--										<img src="{% static 'assets/images/portfolio/p2.jpg' %}" alt="portfolio image"/>-->
<!--										<div class="isotope-overlay">-->
<!--											<a href="#">-->
<!--												ui/ux design-->
<!--											</a>-->
<!--										</div>&lt;!&ndash; /.isotope-overlay &ndash;&gt;-->
<!--									</div>&lt;!&ndash; /.item &ndash;&gt;-->
<!--								</div>&lt;!&ndash; /.col &ndash;&gt;-->

<!--								<div class="col-sm-4">-->
<!--									<div class="item">-->
<!--										<img src="{% static 'assets/images/portfolio/p3.jpg' %}" alt="portfolio image"/>-->
<!--										<div class="isotope-overlay">-->
<!--											<a href="#">-->
<!--												web design-->
<!--											</a>-->
<!--										</div>&lt;!&ndash; /.isotope-overlay &ndash;&gt;-->
<!--									</div>&lt;!&ndash; /.item &ndash;&gt;-->
<!--								</div>&lt;!&ndash; /.col &ndash;&gt;-->

<!--								<div class="col-sm-4">-->
<!--									<div class="item">-->
<!--										<img src="{% static 'assets/images/portfolio/p4.jpg' %}" alt="portfolio image"/>-->
<!--										<div class="isotope-overlay">-->
<!--											<a href="#">-->
<!--												web development-->
<!--											</a>-->
<!--										</div>&lt;!&ndash; /.isotope-overlay &ndash;&gt;-->
<!--									</div>&lt;!&ndash; /.item &ndash;&gt;-->
<!--									<div class="item">-->
<!--										<img src="{% static 'assets/images/portfolio/p5.jpg' %}" alt="portfolio image"/>-->
<!--										<div class="isotope-overlay">-->
<!--											<a href="#">-->
<!--												web development-->
<!--											</a>-->
<!--										</div>&lt;!&ndash; /.isotope-overlay &ndash;&gt;-->
<!--									</div>&lt;!&ndash; /.item &ndash;&gt;-->
<!--								</div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--							</div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--						</div>&lt;!&ndash;/.isotope&ndash;&gt;-->
<!--					</div>&lt;!&ndash;/.gallery-content&ndash;&gt;-->
<!--				</div>&lt;!&ndash;/.container&ndash;&gt;-->
<!--			</div>&lt;!&ndash;/.portfolio-details&ndash;&gt;-->
			</div>

		</section><!--/.portfolio-->
		<!--portfolio end -->

<!--		clients start-->
		<section id="certification" class="clients">
			<div class="section-heading text-center">
				<h2>certifications</h2>
			</div>
			<div class="clients-area">
				<div class="container">
					{% for c in cer %}
					<label style="text-align:center;">course:</label>
{{ c.certifications }}{% endfor %}
<!--					<div class="owl-carousel owl-theme" id="client">-->
<!--						<div class="item">-->
<!--							<a href="#">-->
<!--								<img src="{% static 'assets/images/clients/c1.png' %}" alt="brand-image" />-->
<!--							</a>-->
<!--						</div>&lt;!&ndash;/.item&ndash;&gt;-->
<!--						<div class="item">-->
<!--							<a href="#">-->
<!--								<img src="{% static 'assets/images/clients/c2.png' %}" alt="brand-image" />-->
<!--							</a>-->
<!--						</div>&lt;!&ndash;/.item&ndash;&gt;-->
<!--						<div class="item">-->
<!--							<a href="#">-->
<!--								<img src="{% static 'assets/images/clients/c3.png' %}" alt="brand-image" />-->
<!--							</a>-->
<!--						</div>&lt;!&ndash;/.item&ndash;&gt;-->
<!--						<div class="item">-->
<!--							<a href="#">-->
<!--								<img src="{% static 'assets/images/clients/c4.png' %}" alt="brand-image" />-->
<!--							</a>-->
<!--						</div>&lt;!&ndash;/.item&ndash;&gt;-->
<!--						<div class="item">-->
<!--							<a href="#">-->
<!--								<img src="{% static 'assets/images/clients/c5.png' %}" alt="brand-image" />-->
<!--							</a>-->
<!--						</div>&lt;!&ndash;/.item&ndash;&gt;-->
<!--						<div class="item">-->
<!--							<a href="#">-->
<!--								<img src="{% static 'assets/images/clients/c6.png' %}" alt="brand-image" />-->
<!--							</a>-->
<!--						</div>&lt;!&ndash;/.item&ndash;&gt;-->
<!--						<div class="item">-->
<!--							<a href="#">-->
<!--								<img src="{% static 'assets/images/clients/c7.png' %}" alt="brand-image" />-->
<!--							</a>-->
<!--						</div>&lt;!&ndash;/.item&ndash;&gt;-->
<!--					</div>&lt;!&ndash;/.owl-carousel&ndash;&gt;-->
				</div><!--/.container-->
			</div><!--/.clients-area-->

		</section><!--/.clients-->

		</section><!--/.clients-->
<!--		clients end-->

		<!--contact start -->
		<section id="contact" class="contact">
			<div class="section-heading text-center">
				<h2>contact me</h2>
			</div>
			<div class="container">
				<div class="contact-content">
					<div class="row">
<!--						<div class="col-md-offset-1 col-md-5 col-sm-6">-->
<!--							<div class="single-contact-box">-->
<!--								<div class="contact-form">-->
<!--									<form>-->
<!--										<div class="row">-->
<!--											<div class="col-sm-6 col-xs-12">-->
<!--												<div class="form-group">-->
<!--												  <input type="text" class="form-control" id="name" placeholder="Name*" name="name">-->
<!--												</div>&lt;!&ndash;/.form-group&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--											<div class="col-sm-6 col-xs-12">-->
<!--												<div class="form-group">-->
<!--													<input type="email" class="form-control" id="email" placeholder="Email*" name="email">-->
<!--												</div>&lt;!&ndash;/.form-group&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--										</div>&lt;!&ndash;/.row&ndash;&gt;-->
<!--										<div class="row">-->
<!--											<div class="col-sm-12">-->
<!--												<div class="form-group">-->
<!--													<input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">-->
<!--												</div>&lt;!&ndash;/.form-group&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--										</div>&lt;!&ndash;/.row&ndash;&gt;-->
<!--										<div class="row">-->
<!--											<div class="col-sm-12">-->
<!--												<div class="form-group">-->
<!--													<textarea class="form-control" rows="8" id="comment" placeholder="Message" ></textarea>-->
<!--												</div>&lt;!&ndash;/.form-group&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--										</div>&lt;!&ndash;/.row&ndash;&gt;-->
<!--										<div class="row">-->
<!--											<div class="col-sm-12">-->
<!--												<div class="single-contact-btn">-->
<!--													<a class="contact-btn" href="#" role="button">submit</a>-->
<!--												</div>&lt;!&ndash;/.single-single-contact-btn&ndash;&gt;-->
<!--											</div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--										</div>&lt;!&ndash;/.row&ndash;&gt;-->
<!--									</form>&lt;!&ndash;/form&ndash;&gt;-->
<!--								</div>&lt;!&ndash;/.contact-form&ndash;&gt;-->
<!--							</div>&lt;!&ndash;/.single-contact-box&ndash;&gt;-->
<!--						</div>&lt;!&ndash;/.col&ndash;&gt;-->
						<div class="col-md-offset-1 col-md-5 col-sm-6">
							<div class="single-contact-box">
								<div class="contact-adress">
									<div class="contact-add-head">
										<h3>{{ mail.first_name }}</h3>
										<p>{{ ex.job }}</p>
									</div>
									<div class="contact-add-info">
										<div class="single-contact-add-info">
											<h3>phone</h3>
											<p>{{ detail.phonenumber }}</p>
										</div>
										<div class="single-contact-add-info">
											<h3>email</h3>
											<p>{{ mail.email }}</p>
										</div>
										<div class="single-contact-add-info">
											<h3>website</h3>
											<p>https://www.w3schools.com/</p>
										</div>
									</div>
								</div><!--/.contact-adress-->
								<div class="hm-foot-icon">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-dribbble"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-twitter"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-instagram"></i></a></li><!--/li-->
									</ul><!--/ul-->
								</div><!--/.hm-foot-icon-->
							</div><!--/.single-contact-box-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.contact-content-->
			</div><!--/.container-->

		</section><!--/.contact-->
		<!--contact end -->

		<!--footer-copyright start-->
		<footer id="footer-copyright" class="footer-copyright">
			<div class="container">
				<div class="hm-footer-copyright text-center">
<!--"https://{{ detail.urlfield }}/">-->
					<p>copyright yourname. design and developed by <a href="{{ detail.urlfield }}/">w3schools</a>
<!--						&copy;<a href="https://www.w3schools.com/">Visit W3Schools.com!</a>-->
<!--						copyright yourname. design and developed by <a href="https://www.themesine.com/">themesine</a>-->
					</p><!--/p-->
				</div><!--/.text-center-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" ></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.footer-copyright-->
		<!--footer-copyright end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="{% static 'assets/js/jquery.js' %}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{% static 'assets/js/bootsnav.js' %}"></script>
		
		<!-- jquery.sticky.js -->
		<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
		
		<!-- for progress bar start-->

		<!-- progressbar js -->
		<script src="{% static 'assets/js/progressbar.js' %}"></script>

		<!-- appear js -->
		<script src="{% static 'assets/js/jquery.appear.js' %}"></script>

		<!-- for progress bar end -->

		<!--owl.carousel.js-->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		
        
        <!--Custom JS-->
        <script src="{% static 'assets/js/custom.js' %}"></script>
        
    </body>
	
</html>