<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
.registration-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.registration-form input[type="text"], .registration-form input[type="textarea"],.registration-form input[type="date"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.registration-form a[type="submit"]{

  width: 100%;
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
}</style>
</head>
<body>
<form method="post" class="registration-form" enctype="multipart/form-data">
    {% csrf_token %}
  <h1>SKILL</h1>
    <input type="text"name="skill1"placeholder="skill1" required>
    <input type="text"name="skill2"placeholder="skill2" required>
    <input type="text"name="skill3"placeholder="skill3" required>
</br></br>
    <button type="submit"value="submit">submit</button>
<a class="btn btn-success" type="submit" href="{% url 'viewskilldetails' %}">details</a>
</form>
</body>
</html>