<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title><style>
        .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1vh;
    }
<!--    -->
    .table {
    margin-left: auto;
    padding:2cm,2cm;
    margin-right: auto;

    border-collapse: separate;
    border-spacing: 10px; /* Adjust the value as needed */


}</style>
</head>
<body><table class="table" style="text-align:center;">
  <thead>
    <tr>
      <th scope="col">skill1</th>
      <th scope="col">skill2</th>
      <th scope="col">skill3</th>

        <th scope="col">operations</th>
    </tr>
  </thead><tbody><tr><td>
{% for item in cart1 %}
{{ item.skill1 }}</td><td>
{{ item.skill2 }}</td><td>
{{ item.skill3 }}</td><td>

<a class="btn btn-success" type="submit" href="{% url 'updateskilldetails' item.id  %}">update</a>
    <a class="btn btn-success" type="submit" href="{% url 'deleteskilldetails' item.id  %}">delete</a></td></tr>
{% endfor %}
    </tbody>
    <table>
</body>
</html>